---
const posts = await Astro.glob("../pages/posts/*.md");
---

<section class="hero is-medium is-info">
  <div class="hero-body m-4">
    <p class="title is-size-1">TSRP Blog</p>
    <p class="subtitle">Subtitle Subtitle Subtitle</p>

    <div>
      {
        posts.map((post) => (
          <article>
            <div class="box m-2">
              <a class="is-underlined is-size-3" href={post.url}>
                {post.frontmatter.title}
              </a>
              <br />
              <p>
                {post.frontmatter.description}
              </p>
                <div>
                  <a class="has-text-dark" href={post.url}>
                    Read more
                  </a>
                </div>
                <p>
                  {post.frontmatter.date}
                </p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
